<div id="statistics" class="container">
    <div class="statistic fade-in" [ngClass]="{ 'show': isFileUploaded }" id="s1">
        <p>Profit & Loss schedule</p>
        <span class="line"></span>
        <div class="chart" [ngClass]="{ 'show': isFileUploaded }">
            <canvas #myChart style="width: 100%; height: 300px;"></canvas>
        </div>
    </div>
    <div class="statistic fade-in" [ngClass]="{ 'show': isFileUploaded }" id="s2">
        <p>Expenses</p>
        <span class="line"></span>
        <div class="chart" [ngClass]="{ 'show': isFileUploaded }">
            <canvas #expensesChart style="width: 100%; height: 300px;"></canvas>
        </div>
    </div>
    <div class="statistic fade-in" [ngClass]="{ 'show': isFileUploaded }" id="s3">
        <p>List of expenses</p>
        <span class="line"></span>
        <div class="transactions">
            <div *ngFor="let transaction of transactions" class="transaction-item">
                <!-- <span class="transaction-date">{{ transaction["Date and time"] | date: 'dd.MM' }}</span> -->
                <span class="transaction-description">{{ transaction.Description }}</span>
                <span class="transaction-amount" 
                      [ngClass]="{'income': transaction['Card currency amount, (UAH)'] > 0, 'expense': transaction['Card currency amount, (UAH)'] < 0}">
                    {{ transaction['Card currency amount, (UAH)'] | number:'1.2-2' }} UAH
                </span>
            </div>
        </div>          
    </div>
</div>