<div class="container">
    <div class="statistic" id="s1">
        <p>Profit & Loss schedule</p>
        <span class="line"></span>
        <div class="chart">
            <canvas #myChart width="400" height="200"></canvas>
        </div>
    </div>
    <div class="statistic" id="s2">
        <p>Expenses</p>
        <span class="line"></span>
        <div class="chart">

        </div>
    </div>
    <div class="statistic" id="s3">
        <p>List of expenses</p>
        <span class="line"></span>
        <div class="chart">

        </div>
    </div>
</div>