@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.container {
  width: 100%;
  height: 100%;
}

.drop-file-zone {
  width: 100%;
  height: 450px;
  position: relative;
}

#b1,
#b2,
#b3 {
  width: 100%;
  height: 400px;
  position: absolute;
  background: #034732;
  border-radius: 0 0 50px 50px;
  z-index: 1;
}

#b2 {
  height: 425px;
  background: rgba(3, 71, 50, 0.7);
  border-radius: 0 0 40px 40px;
  z-index: 0;
}

#b3 {
  height: 450px;
  background: rgba(3, 71, 50, 0.5);
  border-radius: 0 0 30px 30px;
  z-index: -1;
}

.upload-file-zone {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.upload-file-zone.drag-over {
  background: rgba(255, 255, 255, 0.7);
  border: 4px dashed white;
  border-radius: 50px;
}

.drop-here-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.drag-over .drop-here-text {
  opacity: 1;
}

.upload-type-container {
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: "Lilita One", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 64px;
  color: white;
}

.upload-type {
  width: 200px;
  height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

#t1 {
  border-bottom: 2px solid white;
}

.upload-file {
  width: 96px;
  height: 96px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.choose-button {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(250, 224, 228, 0.2);
  border-radius: 10px;
  border: 2px solid white;
  text-align: center;
  cursor: pointer;
}

.choose-button p {
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bold;
}