<div class="container">
    <div class="drop-file-zone">
        <div class="background" id="b1"></div>
        <div class="background" id="b2"></div>
        <div class="background" id="b3"></div>
        <div class="upload-file-zone"
            [ngClass]="{ 'drag-over': isDraggingOver }"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onFileDrop($event)">
    
            <div class="upload-type-container">
                <p>EconoMe</p>
            </div>
    
            <img src="../../assets/upload_file.png" alt="upload" class="upload-file">
            <input type="file" id="fileInput" (change)="onFileSelected($event)" accept=".csv" style="display: none;">
            <div class="drop-here-text" *ngIf="isDraggingOver">Drop here</div>
            <button class="choose-button" (click)="triggerFileInput()">
                <p>Choose file</p>
            </button>
        </div>
    </div>
    <app-statistics></app-statistics>
</div>
